@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}